

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>CA E-cell</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/demo.css" />
  <link rel="stylesheet" href="css/templatemo-style.css">
  <script src="https://use.fontawesome.com/3903c9d7fd.js"></script>
  <script src="https://kit.fontawesome.com/021d191856.js"></script>
  <script
			  src="https://code.jquery.com/jquery-3.4.1.js"
			  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
			  crossorigin="anonymous"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" rel="stylesheet">
  
  <script type="text/javascript" src="js/modernizr.custom.86080.js"></script>
		
</head>

	<body>
			<img src="img/logo.png" class="logo" alt="">
			<ul class="menu">
					<li class="menu_list 1">
						<span class="front fas fa-info"></span>
						<a href="" class="side" aria-disabled="true">about</a>
					</li>
					<li class="menu_list 2">
						<span class="front"><i class="fas fa-award"></i></span>
						<a href="#" class="side">prizes</a>
					</li>
					<li class="menu_list 3">
						<span class="front fas fa-briefcase"></span>
						<a href="#" class="side">partner</a>
					</li>
					<li class="menu_list 4">
						<span class="front"><i class="fas fa-gavel"></i></span>
						<a href="#" class="side">rules</a>
					</li>
				</ul>

		<div class="clearfix">
			<div id="particles-js"></div>
		
			<ul class="cb-slideshow">
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	        </ul>

			<div class="container front-end">
				
					<h5>E-CELL IIT(BHU) Varanasi's</h5>
					<h1>CAMPUS <br> AMBASSADOR <br> PROGRAM</h1>
	
					<div class="text-xs-center social">
            <% if(!user){ %>
            <a href="/users/login"><button type="button" class="btn btn-outline-light">Login/Register</button></a>
            <% }else{ %>
            <a href="/dashboard"><button type="button" class="btn btn-outline-light"><i class="fas fa-id-badge" style="margin-right: 10px"></i>Dashboard</button></a>	
            <% } %>   
          </div>
			</div>
		</div>


		<div class="container fifth" style="margin-top: 100px;">
				<h1>Why Campus Ambassador?</h1>
				<hr>
				<div class="row">
					<div class="col-sm-4">
						<div class="card">
							<div class="card__icon-wrapper card__items card_temp">
								<div class="card__icon">
								<i class="fas fa-satellite"></i> Get Certified
								</div>
							</div>
							<div class="card__text-wrapper card__items card_temp">
								<p class="card__text">
										Get a certificate of appreciation from The Entrepreneurship Cell, IIT BHU on successfully completing the tenure
								</p>
							</div>
						</div>
					</div>
					
					<div class="col-sm-4">
						<div class="card">
							<div class="card__icon-wrapper card__items">
								<div class="card__icon">
								<i class="fas fa-satellite"></i> Organise Events
								</div>
							</div>
							<div class="card__text-wrapper card__items">
								<p class="card__text">
										Get a chance to conduct entrepreneurship related events in your college in collaboration with E-Cell IIT BHU
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="card">
							<div class="card__icon-wrapper card__items">
								<div class="card__icon">
								<i class="fas fa-satellite"></i> Skill Development
								</div>
							</div>
							<div class="card__text-wrapper card__items">
								<p class="card__text">
										Improve your communication and management skills by being a part of the largest student network in the nation
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="row">			
					<div class="col-sm-6">
						<div class="card">
							<div class="card__icon-wrapper card__items">
								<div class="card__icon">
								<i class="fas fa-satellite"></i> Knowledge Development
								</div>
							</div>
							<div class="card__text-wrapper card__items">
								<p class="card__text">
										Get access to information from the entrepreneurial world in technology, business and design domains. 
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card">
							<div class="card__icon-wrapper card__items">
								<div class="card__icon">
								<i class="fas fa-satellite"></i> Network
								</div>
							</div>
							<div class="card__text-wrapper card__items">
								<p class="card__text">
										Get an opportunity to network with students all across the nation.

								</p>
							</div>
						</div>
					</div>
				</div>

			</div>
				
<!-- 			<div class="container second" style="margin-top: 100px;">
				<h2>What is it?</h2>
				<hr>
				<p>
					Till now, we relied on founders and other ecosystem players to tell us about the amazing ideas they are pursuing and how it would disrupt some industry or another. We thought, why not let everyone tell us about it. The program as the name suggests allows anyone to represent E-Cell IIT (BHU) Varanasi in your college and also refer early stage startups – any product / service, entrepreneurs or even students to connect with E-Cell IIT(BHU)-Varanasi and gives you a chance to earn windfall amounts that helps in building your career.
				</p>
			</div> -->
			<div class="container third">
				<h2>Your Contribution</h2>
				<hr>
				<div class="row">
					<div class="col-md-4 col-12">
							<figure class="swing">
									<img src="https://previews.123rf.com/images/rawpixel/rawpixel1612/rawpixel161254288/68072251-new-business-startup-entrepreneur-objective-concept.jpg" width="250" height="300px" >
							</figure> 
					</div>
					<div class="col-md-8 col-12">
						
						
						<p>The selected campus directors would be the official ambassador of E-Cell IIT BHU Varanasi in her/his college.</p>
						<p>She/he would be required to create awareness and spread the promotional activities of E-Cell IIT BHU. </p>	
						<p>Build the entrepreneurship culture in your college in guidance of E-Cell IIT BHU.</p>
						<p>You would connect us to major stakeholders in your college and share our initiatives on your social media platforms.</p>
						<p>Finally, you would get the students of your institute to register for our events.</p>


					</div>
				</div>
				 
			</div>

<!-- 			<div class="fourth">
				<div class="row">
					<div class="col-md-12">
						<figure>
								<img style="padding: 23px" src="https://cdn0.iconfinder.com/data/icons/simgeler-reward/512/Insignia-512.png" alt='random image' />
							<figcaption>
								<h2>Top Tier CA's</h2>
								<p>They will get free certified courses from internshala on various fields and technologies</p>
							</figcaption>
						</figure>
					</div>
				</div>
				<div class="row info">
					<div class="col-sm-5">
						<hr>
						<h2>Rewards &amp; Prizes</h2>
						<p>Be Best Among All</p>
						<hr>
					</div>
					<div class="col-sm-7">
						<p>      CAs who get at least 10 startups registrations for E-Summit will get a free pass to the E-Summit</p>
						<p>CAs who get atleast 15 startups registrations for E-Summit will get travel expenses reimbursement by E-Cell IIT BHU</p>
					</div>
				</div>
			</div> -->

			<div class="container seventh">
					<h1>Incentives</h1>
					<hr>
					<div class="row">
						
						<div class="col-md-4" >
							<div class="card" >
								<figure>
									<img style="padding: 23px" height="220px" src="https://i.ibb.co/hYFBJFZ/asso1.png" alt='random image' />
								<figcaption>
									<h2>Ovais Internships</h2>
								</figcaption>
							</figure>
									<div class="card-body">
										<p class="card-text">Top campus ambassadors will be selected for interview to get an internship at Ovais, which is one of our startups.</p>
									</div>
							</div>
						</div>
						<div class="col-md-4" >
							<div class="card" >
								<figure>
									<img style="padding: 23px" height="220px" src="img/esummit.png" alt='random image' />
								<figcaption>
									<h2>E-Summit</h2>
								</figcaption>
							</figure>
									<div class="card-body">
										<p class="card-text">Top 10 CA’s based on number of registration they get in E-Summit would get free passes for E-summit along with free accommodation for 2 days.</p>
									</div>
							</div>
						</div>
						<div class="col-md-4" >
							<div class="card" >
								<figure>
									<img style="padding: 23px" height="220px" src="https://i.ibb.co/hYFBJFZ/asso1.png" alt='random image' />
								<figcaption>
									<h2>Renew Oceans Internships</h2>
							</figcaption>
							</figure>
									<div class="card-body">
										<p class="card-text">Top campus ambassadors will get an opportunity to interview for internship at Renew Oceans.</p>
									</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6" >
								<div class="card" >
									<figure>
										<img style="padding: 23px" height="220px" src="https://cdn0.iconfinder.com/data/icons/simgeler-reward/512/Insignia-512.png" alt='random image' />
									<figcaption>
										<h2>Exclusive Merchandise</h2>
									</figcaption>
								</figure>
										<div class="card-body">
											<p class="card-text">Exclusive campus ambassador merchandise to all campus ambassadors arriving in our campus during E-Summit.</p>
										</div>
								</div>
							</div>
						<div class="col-md-6" >
							<div class="card" >
								<figure>
									<img style="padding: 23px" height="220px" src="https://i.ibb.co/gP3J888/trashcash.png" alt='random image' />
								<figcaption>
									<h2>TrashCash Internships</h2>
								</figcaption>
							</figure>
									<div class="card-body">
										<p class="card-text">Top campus ambassadors will be selected for interview to get an internship at TrashCash, which is one of our startups.</p>
									</div>
							</div>
						</div>
						
						
					</div>
				</div>
				
			<div class="container eighth">
					
					<div class="testimonials text-center">

							<div class="container">
							  <h1>Testimonials</h1>
							  <hr>

							  <div class="row">
								<div class="col-md-6 col-lg-4">
								  <div class="card border-light  text-center">
									<i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
									<div class="card-body blockquote">
									  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum enim eu nibh finibus</p>
									  <footer class="blockquote-footer"><cite title="Source Title">Mohamed Nady</cite></footer>
									</div>
								  </div>
								</div>
						
								<div class="col-md-6 col-lg-4">
								  <div class="card border-light  text-center">
									<i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
									<div class="card-body blockquote">
									  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum enim eu nibh finibus</p>
									  <footer class="blockquote-footer"><cite title="Source Title">Mohamed Reda</cite></footer>
									</div>
								  </div>
								</div>
						
								<div class="col-md-6 col-lg-4">
								  <div class="card border-light  text-center">
									<i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
									<div class="card-body blockquote">
									  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum enim eu nibh finibus</p>
									  <footer class="blockquote-footer"><cite title="Source Title">Mohamed Atef</cite></footer>
									</div>
								  </div>
								</div>
						
							  </div>
							</div>
						
						  </div>
						  
				
			</div>

			<div class="container sixth">
				<div class="card2">
					<h1>Rules</h1>
					<hr>
					<ul>
						<li>You must be enrolled in any undergraduate/post-graduate programme in any college across India.</li>
						<li>If multiple students register from the same college, the student will be shortlisted based on their skills and an interview by E-Cell IIT BHU.</li>
						<li>If the same startup is referred by multiple CAs, the first referral will be taken into consideration. </li>
						<li>If multiple students register from the same college, the student will be shortlisted based on their skills and an interview by E-Cell IIT BHU.</li>
						<li>This leaderboards’ table will be live through the academic year and the final results will be declared on the E-Summit final day. In case of any dispute, the decision of E-Cell IIT BHU Varanasi will be final.</li>
					</ul>
				</div>
				
			</div>
			<div class="container ninth">
				<h1>Team</h1>
				<hr>
				<div class="container1">
					<div class="row h-100">
					  <div class="col-md-4 my-auto">
						<div class="card element-container">
							<div class="card-body d-flex">
							<div class="card stat" id="stat3"><img src="img/ca-lead.jpeg" height="inherit" alt=""></div>  
									<div class="stat-name">
								<hr class="color3" />
								<h5 class="card-title" style="font-size: 20px;">Shivratan Tripathi</h5>
								<p style="font-size: 14px;">shivratan.tripathi.che17@iitbhu.ac.in</p>
								<p style="font-size: 17px; margin-top: 9px;">+91 80906 94030</p>
								</div>
							</div>
				  		</div>
					  </div>
					</div>
				</div>
			</div>
			<div class=" container footer">
				<div class="row  footer-row">
					<div class="col-sm-4 col-12">
						<h5>Where To Find Us</h5>
						<p>MCIEE, IIT(BHU) Varanasi, <br>221005</p>
					</div>
					<div class="col-sm-4 col-12">
					<h5>Follow Us</h5>
					<a href="https://www.facebook.com/ecelliitvaranasi/" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i> Facebook</a><br>
					<a href="https://twitter.com/ecelliitbhu" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i> Twitter</a><br>
					<a href="https://www.instagram.com/ecelliitbhu/" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i> Instagram</a>
					</div>
					<div class="col-sm-4 col-12">
					<h5>Contact Us</h5>
					<p>ecell@iitbhu.ac.in</p>
					<p>+91 91198 83053</p>
					</div>
				</div>
				<hr>
				<p>© 2019 | Indian Institute of Technology (Banaras Hindu University) Varanasi. All Rights Reserved. | Disclaimer
				<br> Website designed & developed in IIT (BHU) Varanasi | Credits: Divyansh Kumar</p>
			</div>
	</body>
	<script type="text/javascript" src="js/script.js"></script>
	<script type="text/javascript" src="js/particles.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script src="https://use.fontawesome.com/1744f3f671.js"></script>
</html>











 
