<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CA E-cell</title>
    <link rel="stylesheet" href="css/user.css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
    <style>
      
.login .head{
  font-size: 38px;
  text-align: center;
  color: #fa8231;
  margin-top: 50px;
}
.login hr {
  width: 15%;
  color: #e66813;
}

.login .form{
  margin-top: 26px;
}
.login h4{
  text-align: center;
}
.login #form-login, #form-signup{
  width: 40%;
margin-top: 45px;
}
.login .needs-validation button{
  margin-top: 25px;
}

@media (max-width: 450px)  {
  #form-signup{
    width: 85%;
  }
  .login #form-login{
    width: 83%;
  }
  .login .head{
    font-size: 31px!important;
  }
}
    </style>
  </head>
<body class="login" style="padding: 0;">

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0b0704bd;">
  <a class="navbar-brand" href="#" style="color: white;"><img src="https://i.ibb.co/LZvXv7C/logo.png" width="72px" class="logo" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/" style="color: white;">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<% include ./partials/messages %>
        <h1 class="head">Join The Community</h1>
        <hr>
        
        <div class="container" id="form-login">
                <h4>Log In</h4>
                <form class="needs-validation" method="POST" action="/users/login" novalidate>
                    <div class="form">
                        
                        <label for="validationCustom01">Email Address</label>
                        <input type="email" class="form-control" id="validationCustom01" value="" placeholder="Enter your email id" name="email" required>
                        <div class="invalid-feedback">
                            Field cannot be empty or invalid email
                        </div>
                    </div>
                    <div class="form">
                        <label for="validationCustom01">Password</label>
                        <input type="password" class="form-control" id="validationCustom02" name="password" placeholder="password" value="" required>
                        <div class="invalid-feedback">
                            Field cannot be empty
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </form>
                <a href="/users/register"><h5 style="text-align: right;color: #fa8231;cursor: pointer;text-decoration: underline" class="signup-button">New Member?</h5></a>
        </div>
        
        <script>
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function() {
                  'use strict';
                  window.addEventListener('load', function() {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function(form) {
                      form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                          event.preventDefault();
                          event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                      }, false);
                    });
                  }, false);
                })();
                


                </script> 
     <script type="text/javascript" src="js/user-script.js"></script>
     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>