@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    z-index: 99999999999;
    position: absolute;
    width: 100px;
    right: 30px;
    top: 19px;
}
ul.menu {
    position: absolute;
    top: 25%;
    list-style-type: none;
    z-index: 99999999;
}
li.menu_list {
    height: 85px;
    width: 85px;
    position: relative;
}
li.menu_list .front,
a.side {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 86px;
    width: 100%;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease-out;
    cursor: pointer;
}
li.menu_list .front {
    background-color: #fa8231;
    color: white;
    transform-origin: 0 0;
}
a.side {
    background-color: #fa8231;
    color: white;
    transform-origin: 0 0 85px;
    transform: rotateY(-90deg);
}
li.menu_list:hover a.side {
    transform: rotateY(0deg);
}
li.menu_list:hover .front {
    transform: rotateY(90deg);
}   

.front-end{
    float: right;
    margin: 190px 90px 105px 0;
    width: max-content;
}
.front-end h1{
    margin-top: 17px;
}
.front-end h5{
    color: #fa8231;
    text-decoration : underline;
}
.menu li .side{
    font-size: 17px;
}
@media (max-width: 600px)  {
    .menu li {
        height: 50px!important;
        width: 50px!important;
    }
    .menu li span{
        height: 50px!important;
        width: 50px!important;
        font-size: 17px;
    }
    .front-end h1{
        font-size: 2rem;
    }
    .front-end h5{
        font-size: 1rem;
    }
    .front-end{
        margin-right:0; 
        margin-top: 151px;
    }
    .menu li .side{
        height: 50px;
        width: 50px;
        font-size: 12px;
        color: white;
    }
    
}
.social{
    margin-top: 30px;
}
.social button{
    z-index: 999999999;
    padding: 14px 22px;
    cursor: pointer;
    position: absolute;
}

.second{
    background-color: white;
    padding-bottom: 60px;
    font-family: 'Source Serif Pro', serif;
}
.second h2{
    text-align: center;
    padding-top: 85px;
    font-size: 40px;
    color: #e1752c;
}
.second hr, .third hr, .sixth hr, .fifth hr, .seventh hr, .eighth hr, .ninth hr{
    margin: 20px auto;
    width: 5%;
    color: black;
    background-color: #fa8231;
}
.second p{
    color: black;
    width: 71%;
    font-size: 21px;
    text-align: justify;
    margin: 10px auto;
}

.swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.swing img {
    border: 5px solid #f8f8f8;
    display: block;
}
.swing:after{
    content: '';
    position: absolute;  
    width: 20px; height: 20px;  
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.swing:before{
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}
 
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

.third{
    background-color: #000000c7;
    padding-bottom: 20px;
    margin-top: 50px;
}
.third h2{
    text-align: center;
    padding-top: 55px;
    font-size: 28px;
    color: #fa8231;
}
.third .row{
    margin: 20px auto;
}
.third figure{
    margin-top: 70px;
}
.third .row p{
    font-weight: bolder;
    font-size: 18px;
    margin-top: 20px;
}
.third  ul li{
    font-size: 15px;
    color: #fa8231;
    margin-left: 55px;
    list-style: lower-latin;
    font-weight: bolder;
    margin-top: 5px;
}

@media (max-width: 450px)  {
    .third ul li{
        font-size: 12px;
        margin-left: 36px;
    }
    .third .row p{
        font-size: 13px;
    }
    .third img{
        width: 200px;
        height: 250px;
    }
    .third{
        width: 92%!important;
    }
    .second{
        width: 92%!important;
    }
    .second p{
        width: 80%!important;
        font-size: 14px!important;
    }
    .sixth h1{
        
    font-size: 34px!important;
    padding-top: 55px!important;
    }
    .sixth{
        width: 87%!important;
    }
    .sixth ul{
    font-size: 14px!important;
    }
    .fifth h1{
        font-size: 28px!important;
    }
    .fifth ul li{
        font-size: 14px!important;
    }
    .footer .row h5{
        font-size: 17px!important;
    }
    .footer .row a, .footer .row p{
        font-size: 14px!important;
    }
    .footer p{
        font-size: 14px!important;
    }
    .card__icon-wrapper{
        height: 200px;
    }
    .card__text-wrapper{
        height: 200px;
    }
    .card{
        height: 300px;
    }
    .testimonials .card {
        width: 239px!important;
    }
    .testimonials .card-text{
        font-size: 18px!important;
    }
    .blockquote-footer{
        margin-top: 10px!important;
    }
    .seventh .row .col-md-6{
        margin-top: 25px!important;
    }
    .seventh .card{
        height: auto!important;
        margin-bottom: 25px;
    }
    .seventh h1, .third h2{
        font-size: 28px;
    }
    figure figcaption{
        font-size: 1.9rem;
    }
}

figure {
    background-color: #1b566c;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    max-width: 350px;
    max-height: 250px;
    overflow: hidden;
    position: relative;
  }
figure img {
opacity: 1;
transition: 0.5s;
width: 100%;
}
figure figcaption {
color: white;
font-weight: bold;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
flex-flow: column;
justify-content: center;
padding: 4rem;
text-align: center;
}
figure figcaption::before, figure figcaption::after {
content: '';
position: absolute;
top: 1.5rem;
right: 1.5rem;
bottom: 1.5rem;
left: 1.5rem;
transition: 0.5s;
}
figure figcaption::before {
border-top: 1px solid white;
border-bottom: 1px solid white;
-webkit-transform: scale(0, 1);
        transform: scale(0, 1);
}
figure figcaption::after {
border-right: 1px solid white;
border-left: 1px solid white;
-webkit-transform: scale(1, 0);
        transform: scale(1, 0);
}
figure figcaption h2 {
-webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
opacity: 0;
transition: 0.5s;
font-size: 21px;
margin-bottom: 25px;
}
figure figcaption p {
font-size: 1.8rem;
letter-spacing: 1px;
line-height: 1.618;
-webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
opacity: 0;
transition: 0.5s;
font-size: 15px;
}
figure:hover img {
opacity: 0.5;
}
figure:hover figcaption h2,
 figure:hover figcaption p {
opacity: 1;
-webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
}
figure:hover figcaption::before, figure:hover figcaption::after {
-webkit-transform: scale(1);
        transform: scale(1);
}

.fourth img {
max-width: 100%;
}

.fourth{
width: 85%;
margin: 30px auto;
padding-bottom: 30px;
}
.fourth .info{
width: 78%;

margin: 30px auto;
}
.fourth .info hr{
background-color: white;

padding: 1px;

width: 170px;
}
.fourth .info .col-sm-4 p{
    padding-bottom: 5px;
}
.fourth .info h2{
font-size: 40px;
color: #fa8231;
}
.fourth .info p{
    font-weight: bolder;
    font-size: 16px;
    margin-top: 15px;
}
.fourth .col-sm-4 p{
    border-bottom: 1px solid #fa8231;
}

.fifth{
    background-color: white;
    padding-bottom: 40px;
    margin: 0px auto;
}
.fifth h1{
    text-align: center;
    font-size: 40px;
    color: #fa8231;
    padding-top: 45px;
}
.fifth i{
    font-size: 30px;
}
.fifth ul li{
    color: black;
    list-style: cjk-decimal;
    list-style-position: inside;
    margin-top: 18px;
    font-size: 19px;
    font-weight: bolder;
}
.fifth ul{
    margin: 38px auto;
    width: 80%;
}
.fifth ul li span{
    font-weight: 800;
    color: #fa8231;
}




.sixth{
    background-color: rgba(0, 0, 0, 0.623);
    width: 84%;
    margin-top: 35px;
}
.sixth h1{
    text-align: center;
font-size: 43px;
padding-top: 55px;
color: #fa8231;
}
.sixth ul{
    width: 85%;
font-size: 18px;
color: white;
margin: 20px auto;
}

.sixth .card2{
    padding-bottom: 40px;
    width: 85%;
margin: 0 auto; 
}
.sixth ul li{
    margin-top: 14px;
}


.footer{
    padding: 0;
    max-width: none;
    margin: 0;
    margin-top: 20px;
}
.footer {
    margin-top: 80px;
    text-align: center;
    font-size: 13px;
    background-color: #17191c;
    color: white;
}
.footer p {
    padding: 15px;
    margin: 0;
    font-size: 16px;
}
.footer .row a, .footer .row p {
    padding: 4px;
    font-size: 18px;
    color: #ffffff94;
}
.footer .row h5 {
    margin: 18px auto;
text-align: center;
font-size: 22px;
text-decoration: underline;
}
.footer hr {
    margin: auto;
margin-top: 32px;
background-color: #fa8231;
    width: 68%;
}



.card {
    width: 300px;
    max-width: 380px;
    margin: 0 auto;
    border: 0;
    height: 360px;
  }

  .card__items {
    box-sizing: border-box;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    text-align: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition-property: transform, background-color, color;
    transition-property: transform, background-color, color;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  

  .card__icon {
    font-size: 4em;
    color: rgb(102, 101, 101);
    font-size: 26px;
  }

  .card__icon-wrapper {
    background-color: rgb(27, 27, 27);
    transform: translateY(50%);
    width: 300px;
    z-index: 9999;
  }

  .card__text-wrapper {
    font-size: 17px;
    transform: translateY(-50%);
    background-color: #fa8231;
    width: 300px;
    font-family: consolas;
    z-index: 0000;
  }

  .card:hover .card__icon-wrapper {
    transform: translateY(0%);
    background-color: rgba(0, 0, 0, 0.568);
  }

  .card:hover .card__icon {
    color: #fff;
  }

  .card:hover .card__text-wrapper {
    transform: translateY(0%);
  }
  .card_temp{
    transform: translateY(0%);
  }

  .seventh {
    padding-top: 95px;
    padding-bottom: 115px;
  }
  .seventh .card-body{
    padding: 0 18px;
    padding-bottom: 10px;
  }
  .seventh h1{
    font-size: 45px;
    color: #fa8231;
    text-align: center;
  }
  .seventh .card p{
    color: black;
    text-align: justify;
    font-size: 16px;
    font-weight: bolder;
  }
  .seventh img{
    padding: 20px;
    border-bottom: 1px solid #e1752c;
  }
  .seventh .card {
      width: 15rem;
      height: 25rem;
  }
  .seventh .row{
    margin-top: 50px;
  }
  


.eighth{
    background-color: white;
    padding-bottom: 50px;
    padding-top: 80px;
}
.eighth h1{
    font-size: 45px;
    text-align: center;
    color: #fa8231;
}
.eighth cite{
    color: black;
}
.eight .blockquote p{
    font-size: 18px;
}
 .eighth .blockquote-footer{
    color: #3c3131!important;
    margin-top: 15px!important;
}

  .testimonials h3 {
    margin-bottom: 20px;
  }
  .testimonials .card {
    border-bottom: 3px #fa82315e solid !important;
    transition: 0.5s;
    margin-top: 60px;
    background-color: #9d45ced6!important;
    width: 239px!important;

}
  .testimonials .card i {
    background-color: #090909;;
    color: #ffffff;
    width: 75px;
    font-size: 37px;
    height: 75px;
    line-height: 75px;
    margin: -40px auto 0 auto;
  }

.ninth h1{
    color: #fa822d;
    font-size: 45px;
    text-align: center;
    padding-top: 35px;
}
.ninth{
    background-color: white;
    margin: 65px auto;
    width: 84%;
}



.ninth .card{
	text-align:center;
	color:#fff;
}
.ninth .card-body{
	flex-wrap:wrap;
	width:16rem;
	justify-content:space-around;
}
.ninth .container1{
    width: max-content;
    margin: 0px auto;
    padding-bottom: 37px;
}
.ninth .element-container{
	border:2px solid #344675;
	border-radius:0.2857rem;
	background:#ad63d6;
	width:16rem;
	box-shadow:0 1px 20px 0px rgba(0, 0, 0, 0.1);
	border:none;
	margin: auto;
	padding-top:50px;
}

.ninth .stat{
	width:10rem;
	background:#344675;
	height:10rem;
	line-height:10rem;
	font-size:4rem;
	box-shadow:0px 7px 15px rgba(0, 0, 0, 0.4);
	font-weight:100;
}

.ninth .container1 hr{
	height:1px;
	width:8rem;
	border-radius:3px;
	margin-top:30px;
}


.ninth .color3{
	background-color:#733d7b;
}

.ninth #stat3{
	color:#1d8cf8;
}
.ninth .card-title{
	color:rgba(255, 255, 255, 0.8);
}


@media screen and (max-width: 568px) {
	.ninth span{
		display:none;
    }
    .ninth{
        width: 100%;
    }
	.ninth .stat{
	width:7rem;
	height:7rem;
	line-height:7rem;
	font-size:3rem;
}
    .ninth .element-container{
		padding:0;
	}
	.ninth .container1 hr{
		width:100%;
	}
	.ninth .container1{
		margin-top:50px;
	}
}

